body{
    background-color: rgb(113, 243, 200);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0,0.05);
    max-width: 500px;
    margin: 50px auto;
    font-family: sans-serif;
}
input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1; 
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}
button {
    background-color: #d00a0a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}
button1 {
    background-color: #28a745; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}